.introduction{
  background-image: url("https://res.cloudinary.com/dhl1cdqch/image/upload/v1612754298/Back_no06u6.jpg");
  background-repeat: no-repeat;
  background-position: right;
  width: 80vw;
  height: 100vh;
}
